@font-face {
  font-family: "Star-Jedi";
  src: url('../../fonts/starjedi-webfont.woff') format('woff')
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

main {
  background-image: url('https://media.giphy.com/media/hsITL773u90X6KprRR/giphy.gif');
  background-size: auto;
}