.splash-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  justify-content: center;
}

.splash-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
}

.splash-starwars-h1 {
  color: yellow;
  font-family: "Star-Jedi";
  font-size: 5.5em;
  margin: -15%;
  margin-bottom: -10%;
  &#jediColor {
    color: blue;
  }
  &#sithColor {
    color: red;
  }
}

.splash-starwars-h2 {
  color: white;
  font-size: 2em;
  &#jediColor {
    color: blue;
  }
  &#sithColor {
    color: red;
  }
}

form {
  align-items: center;
  border-radius: 50px;
  border: yellow solid 5px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  margin: auto 0px;
  padding: 25px;
  text-align: center;
  width: 500px;
  &#jediColor {
    border: blue solid 5px;
  }
  &#sithColor {
    border: red solid 5px;
  }
}

.jedi-or-sith-div {
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin: 10px;
  width: 300px;
}

.order-button {
  background-color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  height: 100px;
  outline: none;
  width: 100px;
}

.jedi-btn {
  &:focus {
    background-color: rgba(0, 0, 225, .75);
    box-shadow: 0px 0px 50px 15px rgba(0, 0, 225, .75);
  }
  &:hover {
    background-color: rgba(0, 0, 225, .75);
    box-shadow: 0px 0px 50px 15px rgba(0, 0, 225, .75);
  }
}

.sith-btn {
  &:hover {
    background-color: rgba(255, 0, 0, .75);
    box-shadow: 0px 0px 50px 15px rgba(255, 0, 0, .75);
  }
  &:focus {
    background-color:rgba(255, 0, 0, .75);
    box-shadow: 0px 0px 50px 15px rgba(255, 0, 0, .75);
  }
}

.order-icon {
  background-color: transparent;
  border-radius: 0;
  height: 80%;
  width: 80%;
}

input {
  border-radius: 50px;
  border: none;
  font-size: 2em;
  height: 50px;
  margin: 0 auto;
  outline: none;
  text-align: center;
  width: 400px;
}

select {
  border: none;
  font-size: 2em;
  height: 50px;
  margin: 0 auto;
  width: 380px;
  &#jediColor {
    background-color: blue;
    color: white;
  }
  &#sithColor {
    background-color: red;
    color: white;
  }
}

.jump-to-light-speeb-btn{
  background-color: yellow;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 50px 15px rgba(255, 255, 0, .75);
  font-size: 2em;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  width: 380px;
  cursor: pointer;
  &#jediColor {
    background-color: blue;
    color: white;
    box-shadow: 0px 0px 50px 15px rgba(0, 0, 225, .75);
  }
  &#sithColor {
    background-color: red;
    color: white;
    box-shadow: 0px 0px 50px 15px rgba(255, 0, 0, .75);
  }
}