.character-container {
  display: grid;
  grid-gap: 10%;
  grid-template-columns: auto auto auto;
  height: 100%;
  justify-content: center;
  min-height: 100vh;
  overflow: scroll;
  padding: 30px;
}